:root{
    --primario: #9c27b0;
    --primarioOscuro: #89119d;
    --secundario: #ffce00;
    --secundarioOscuro: rgb(233, 287, 2);
    --blanco: #fff;
    --negro: #212121;

    --fuentePrincipal: "Staatliches", sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
  }
*, *:before, *:after {
    box-sizing: inherit;
}
/* Globales */
body{
    background-color: var(--primario);
    font-size: 1.6rem;
    line-height: 1.5;
}

.contenedor{
    max-width: 120rem;
    margin:0 auto;
}
p{
    font-size: 1.8rem;
    font-family:Arial, Helvetica, sans-serif ;
    color: var(--blanco);
}
a{
    text-decoration: none;
}
img{
    width: 100%;
}
h1, h2, h3{
    color:var(--secundario);
    text-align: center;
    font-family: var(--fuentePrincipal);
}
h1{
    font-size: 4rem;
}
h2{
    font-size: 3.2rem;
}
h3{
    font-size: 2.4rem;
}
/* Header */
.header{
    display: flex;
    justify-content: center;
}
.header__logo{
    margin: 3rem 0;
}

/* Navegacion */
.navegacion{
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    padding: 1rem 0;
    background-color: var(--primarioOscuro);
}
.navegacion__enlace{
    font-family: var(--fuentePrincipal);
    font-size: 3rem;
    color: var(--blanco);
}
.navegacion__enlace:hover, .navegacion__enlace--activo{
    color: var(--secundario);
}


.footer{
    background-color: var(--primarioOscuro);
    margin-top: 2rem;
    padding: 1rem 0;
}
.footer__texto{
    font-family: var(--fuentePrincipal);
    text-align: center;
    font-size: 2rem;
}
/* Grid */
.grid{
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 2rem;
}
@media (min-width: 768px) { 
    .grid{
        grid-template-columns: repeat(3, 1fr);
    } 
}

/* Producto */
.producto{
    background-color: var(--primarioOscuro);
    padding: 0.5rem ;
}
.producto__imagen{
    width: 100%;
    padding-right: 0.5rem;
}
.producto__nombre{
    font-size: 4rem;
}
.producto__precio{
    font-size: 2.8rem;
    color: var(--secundario);
}
.producto__nombre, .producto__precio{
    font-family: var(--fuentePrincipal);
    text-align: center;
    margin: 1rem 0;
    line-height: 1.2;
}

.grafico{
    grid-column: 1 / 3;
    min-height: 25rem;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.grafico--camisas{
    background-image: url(../img/grafico1.jpg);
    grid-row: 2 / 3;
}
.grafico--node{
    background-image: url(../img/grafico2.jpg);
    grid-row: 8 / 9 ;
}
@media (min-width: 768px) { 
    .grafico--node{
        grid-row: 5 / 6 ;
        grid-column: 2 / 4;
    } 
}

/* Nosotros */

.nosotros{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    margin: 0 0.5rem;
}
@media (min-width: 768px) { 
    .nosotros{
        flex-direction: row;
    }
}
.nosotros__texto{
    text-align: center;
    padding: 1rem 2rem;
}
@media (min-width: 768px) { 
    .nosotros__imagen{
        width: 50%;
    } 
}
/* Bloques */
.bloques{
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap:2rem;
}
@media (min-width: 768px) { 
    .bloques{
        grid-template-columns: repeat(4, auto);
    } 
}

.bloque{
    text-align: center;
    padding: 0 1rem;
}
.bloque__titulo{
    margin: 0;
}

/* Producto */

.camisa{
    display: grid;
}
@media (min-width: 768px) { 
     .camisa{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2rem;
     }
}
.formulario__contenido{
    margin: 0 auto;
    text-align: center;
}
.formulario{
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
}
.formulario__campo{
    padding: 1rem;
    color: var(--blanco);
    border-radius: 0.3rem;
    border-width: 1rem  ;
    border-style: solid;
    border-color: var(--primarioOscuro);
    background-color: transparent;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    appearance: none;
}
.formulario__submit{
    background-color:var(--secundario);
    width: 100%;
    border: none;
    padding: 2rem;
    color: var(--blanco);
    font-size: 2.5rem;
    transition: background-color .3s ease;
    grid-column: 1 /3;
}
.formulario__submit:hover{
    cursor: pointer;
    background-color: var(--secundarioOscuro);
}

